@charset "UTF-8";



.ourCollectionInput_div{
	position: relative;
    height:150px;
    background: #0d47a1;
    line-height: 50px;
    margin:0;
    text-align: center;
    
	
}


.ourCollectionInput{
	
height: 30px;
width: 200px;
border-radius: 5px;
border: none;
padding-left: 10px
	
}

.ourCollectionInput_h1{
	color: white;
	line-height: 2.5;
	
	
	
}
#ourCollectionBtn{
	
height: 30px;
width: 30px;
border-radius: 5px;
border: none;
background-color: white;
transition-duration: 0.4s;
color: gray;

}

	
.main1 li{
    position: relative;
    display: block;
    width: 280px;
    float:left;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
}
	.main1 ul{
	width:2000px;
	
	
	border-left: 1px solid rgba(0,0,0,0.65);
	box-shadow: 0 0 20px 10px rgba(0,0,0,0.45);
	-webkit-box-shadow: 0 0 20px 10px rgba(0,0,0,0.45);
	-moz-box-shadow: 0 0 20px 10px rgba(0,0,0,0.45);
	}
	
	.slidetitle{
	background: rgba(42,99,138,.3);
	position: absolute;
    left:0;
    bottom:0;
    width: 480px;
    height: 50px
    }
	 .slidetitle span{
    display: block;
    color: white;
    font-size: 16px;
    text-align: left;
    }
	
	
	
	.main1{
	width: 1440px;
	height: 320px;
	overflow: hidden;
	box-shadow: 0px 0px 10px 3px #888888;
	-moz-box-shadow: 0px 0px 10px 3px #888888;
	-webkit-box-shadow: 0px 0px 10px 3px #888888;
	}
	
	.main1 li img{
	display:block;
	height: 320px;
	width: 640px;
	}
	
	.main1 ul:hover li{
	width:250px;
	}
	
	.main1 ul li:hover{
	width:480px;
	}